# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env

# PyInstaller build files
build/
dist/
*.spec

# Temporary files
*.tmp
*.temp

# Hugging Face cache (optional)
~/.cache/huggingface
